<h1 class="category" id="1">Motocicletas</h1>
<mat-grid-list cols="3" rowHeight="3:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Moto g32 plateada
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto1.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>LA mejor moto para pasear por la ciudad</p>
                <h2 class="product-card__price">Precio: $3550 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('1')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Moto d32 con Carga
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto2.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>Moto d32 con Carga</p>
                <h2 class="product-card__price">Precio: $ 3000 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('2')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Motoc34 remodelado
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto3.png" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motoc34 remodelado muy buena</p>
                <h2 class="product-card__price">Precio: $ 4000 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('3')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="3:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Moto c32 Negra
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto4.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>'Moto c32 Negra</p>
                <h2 class="product-card__price">Precio: $8000 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('4')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Moto de Carreras c345
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto5.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>Moto de Carreras c345</p>
                <h2 class="product-card__price">Precio: $6999 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('5')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Roja Urbana c35
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto6.png" alt="" class="product-card__image">
            <mat-card-content>
                <p>Roja Urbana c35</p>
                <h2 class="product-card__price">Precio: $7999 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('6')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="3:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Azul Clamante d89
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto7.png" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Azul Clamante Excelente</p>
                <h2 class="product-card__price">Precio: $8999 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('7')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Reja de Carreras j89
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto8.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Roja excelente para la velocidad</p>
                <h2 class="product-card__price">Precio: $10000 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('8')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<h1 class="category" id="4">Ofertas</h1>
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-subtitle class="product-card__offer">Oferton</mat-card-subtitle>
            
                <mat-card-title class="product-card__title">
                    Scooter d89
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/scooter.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>hermosa scooter</p>
                <h2 class="product-card__price">Precio: $2000 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('9')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Cross&Endure f67
                </mat-card-title>
                
                <mat-card-subtitle class="product-card__offer">Oferton 30%</mat-card-subtitle>
            
            </mat-card-header>
            <img mat-card-image src="assets/crossenduro.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>        Cross&Endure f67
                </p>
                <h2 class="product-card__price">Precio: $2500</h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('10')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Urbana K98
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Oferton 30%</mat-card-subtitle>
            
            </mat-card-header>
            <img mat-card-image src="assets/urbanas.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>Lo mejor en la Ciudad</p>
                <h2 class="product-card__price">Precio: $2100 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('11')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Bratstyle f34
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Oferton</mat-card-subtitle>
            
           
                <mat-card-subtitle class="product-card__offer">Oferton</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/bratstyle.jpg" alt="" class="product-card__image">
            <mat-card-content>
                <p>         Bratstyle f34
                </p>
                <h2 class="product-card__price">Precio: $2999 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('12')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>