<div class="mx-auto">
    <div class="home__container">
    <h1 class="page__title2"> Sobre Nosotros</h1>
    <div class="cards__container">
            <mat-card>
                <mat-card-content>
                    <p class="product-card__content">
                        Encuentra la moto de tus sueños para darle el uso que prefieras
                        Ya sea para pasear recorriendo las calles de la cuidad o como medio de transporte en tu día a día.
                        <br>
                        La empresa se especializa en poder brindarte un servicio especializado para tener la mejor experiencia
                        <br>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

    <h1 class="page__title">NUESTRAS OFERTAS</h1>
    <div class="sale__container">
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Scooter
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/scooter.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Tal vez la puerta de entrada al mundo de las motos, modelos prácticos 
                    para el transporte citadino que te hace olvidar las complicaciones de una caja de cambios y clutch, 
                    solo es sentarse acelerar, frenar y verse muy coquetos mientras circulan por la calle. Hoy existen 
                    muchas opciones e incluso el segmento de los maxi scooter con motores de hasta 600 cc, 
                    que compiten en precios con motos de media cilindrada, y pierden agilidad de manejo.</p>
                <h2 class="product-card__price">$2000</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('9')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Cross / Enduro
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/crossenduro.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">¿Así que eres muy sucio he?, pues si es así y además te encanta la adrenalina, 
                    los deportes extremos y actividades al aire libre, una moto de los segmentos de Cross o Enduro serán tu mejor 
                    acompañante. Enfréntate a la naturaleza por donde no existan senderos y pon a prueba tu fortaleza física,
                     uno de los segmentos más demandantes y divertidos que existen.</p>
                <h2 class="product-card__price">$2500</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('10')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Urbanas
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/urbanas.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">¿Quieres comenzar en el mundo de las motos, pero no quieres saber nada de un scooter
                     y su posición de manejo? entonces una moto de baja cilindrada (menos de 250 cc) es la respuesta. Y además una
                      moto de este segmento será una excelente escuela para tus futuras de mayor cilindrada ya que te darán equilibrio,
                       coordinación y sobre todo seguridad. Este segmento ha crecido en el mundo de manera exponencial debido al 
                       creciente interés de tener un medio de transporte eficiente y de bajo costo de mantenimiento. </p>
                <h2 class="product-card__price">$2100</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('11')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Scrambler
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/bratstyle.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Si la Café Racer se creó para poder ir rápido, 
                    las Scrambler nacieron de la necesidad de salir del camino, podrían considerarse 
                    las abuelitas de las doble propósito. Al igual que en el resto de estas motos retro,
                     el carenado es mínimo y se privilegia la vista del motor y una posición de manejo relajada.
                      Llantas de tacos y un escape que apunta hacia arriba para evitar que entre agua son las características
                       de una Scrambler.
                </p>
                <h2 class="product-card__price">A partir de: $ 2999.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('12')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
    </div>
